*.trs
*.lo
*.o
*.log
/autom4te.cache
/m4
/cmake/Makefile
/cmake/Makefile.in
/docs/Makefile
/docs/Makefile.in
/fsrc/Makefile
/fsrc/Makefile.in
/ftest/Makefile
/ftest/Makefile.in
/include/Makefile
/include/Makefile.in
/test/Makefile
/test/Makefile.in
/src/.deps
/src/.libs
/src/Makefile
/src/Makefile.in
/src/libncglm.la
/test/.deps
/test/.libs
/test/ncdump2.nc
/test/tst_event
/test/tst_flash
/test/tst_glm_ncgen_write
/test/tst_glm_read
/test/tst_glm_read_arrays
/test/tst_group
/aclocal.m4
/compile
/config.guess
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/Makefile
/Makefile.in
/missing
/Notes.txt
/.idea
/venv
/docs
/src/*.so
/psrc/AttemptOne
/cmake-build-debug
/psrc/makes
/psrc/__pycache__
/psrc/Makefile
/psrc/Makefile.in
/ptest/Makefile
/ptest/Makefile.in
test-driver
/psrc/ncglm.py
